<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecom</title>
    <style>
        body {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h3>Login With</h3>
    <div id="app">
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link> |
        <router-link to="/login" v-if="!$store.state.hasLoggedIn">Login With</router-link> |
        <router-link to="/logout" v-if="$store.state.hasLoggedIn">Logout</router-link> |
        <router-link to="/shop">Shop Now</router-link>
        <hr/>
        <router-view></router-view>
        <hr/>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://unpkg.com/vuex@4"></script>
    <script src="oauth-utility.js"></script>

    <script>
        const redirectURI = 'http://localhost:3000'
        const oauth2ServerURI = 'http://localhost:8080'

        const { createApp, ref } = Vue
        const { createRouter, createWebHistory, createWebHashHistory } = VueRouter

        //store
        const store = Vuex.createStore({
            state () {
                return {
                    hasLoggedIn: false
                }
            },
            mutations: {
                loggedIn (state) {
                    state.hasLoggedIn = true
                },
                loggedOut (state) {
                    state.hasLoggedIn = false
                }
            }
        })

        const access_token = localStorage.getItem("access_token")
        if(access_token) {
            store.commit('loggedIn')
        }
        
        //component
        const About = { template: '<div>About</div>' }
        const Home = { 
            setup() {
                const loading = ref(false)
                const e = ref(null)

                const urlParams = new URLSearchParams(window.location.search);
                const code = urlParams.get('code');
                
                if(code){
                    loading.value = true;
                    const pkace = JSON.parse(localStorage.getItem("pkace"));

                    const formData = new URLSearchParams();
                    formData.append('client_id', 'public-client');
                    formData.append('grant_type', 'authorization_code');
                    formData.append('code', code);
                    formData.append('code_challenge', pkace['codeChallenge']);
                    formData.append('code_verifier', pkace['codeVerifier']);
                    formData.append('code_challenge_method', 'S256');
                    formData.append('redirect_uri', redirectURI);

                    fetch('http://localhost:8080/oauth2/token', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: formData
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to obtain access token');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const accessToken = data.access_token;
                        localStorage.setItem('access_token', accessToken);
                        loading.value = false;
                        store.commit('loggedIn')
                        router.push({ path: '/about'})
                    })
                    .catch(error => {
                        error.value = error.message;
                        loading.value = false;
                        console.error('Failed to obtain access token:', error);
                    });
                }
                return {
                    loading, e
                }
            },
            template: `
                <p v-if="$store.state.hasLoggedIn">
                    You are logged in <router-link to="/shop">Shop Now</router-link>
                </p>
                <p v-else>Please <router-link to="/login">Login</router-link> to do more</p>
                <p v-if="loading">Login in... Please Wait</p>
                <p v-if="e" style="color:red">{{e}}</p>
            ` 
        }

        const Login = {
            setup() {
                const message = ref('Chose one to Login With: ')
                function oauth2Login() {
                    const codeVerifier = generateCodeVerifier();

                    generateCodeChallengeFromVerifier(codeVerifier)
                        .then(codeChallenge => {
                            console.log(codeVerifier, codeChallenge);
                            localStorage.setItem('pkace', JSON.stringify({codeVerifier, codeChallenge}))
                            window.location.href = `${oauth2ServerURI}/oauth2/authorize?response_type=code&client_id=public-client&scope=openid&code_challenge=${codeChallenge}&code_challenge_method=S256&code_verifier=${codeVerifier}&redirect_uri=${redirectURI}`;
                        })
                }
                return {
                    message,
                    oauth2Login
                }
            },
            template: `
                <div>
                    <p>{{ message }}</p>
                    <p><button @click="oauth2Login">Spring oauth2</button></p>
                    <p><button>Google</button></p>
                    <p><button>Github</button></p>
                </div>
            `
        }

        const SHOP = {
            setup() {
                const message = ref('Shop Now!')
                return { message }
            },
            template: `
                <p>{{ message }}</p>
            `
        }

        //router
        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/login', component: Login },
            { path: '/logout', component: { 
                setup(){
                    localStorage.clear("access_token")
                    window.location.href = `${oauth2ServerURI}/logout`
                }
            }},
            { path: '/shop', component: SHOP, meta: { requiresAuth: true }}
        ]

        const router = createRouter({
            history: createWebHashHistory(),
            routes,
        })

        router.beforeEach((to, from) => {
            // instead of having to check every route record with
            // to.matched.some(record => record.meta.requiresAuth)
            if (to.meta.requiresAuth && !store.state.hasLoggedIn) {
                // this route requires auth, check if logged in
                // if not, redirect to login page.
                return {
                    path: '/login',
                    // save the location we were at to come back later
                    query: { redirect: to.fullPath },
                }
            }
        })

        createApp({}).use(store).use(router).mount('#app')
    </script>
</body>
</html>
